<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.charley.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="org.charley.model.News" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="focus" property="focus" jdbcType="CHAR" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="publish_user" property="publishUser" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="org.charley.model.News" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, title,focus, author, keywords, publish_user, publish_time, create_user, create_time,
    update_user, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectAllNews" resultMap="BaseResultMap" parameterType="org.charley.model.News">
    select
    a.id, a.type, a.title,focus, a.author,a.content, a.keywords, a.publish_user, a.publish_time, a.create_user, a.create_time,
    a.update_user, a.update_time,b.name AS typeName
    from news a LEFT JOIN type b ON a.type = b.id
    WHERE 1=1
    <if test="title != null" >
      AND a.title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
    </if>
    <if test="type != null" >
      AND a.type = #{type,jdbcType=INTEGER}
    </if>
    <if test="typeName != null" >
      AND b.name = #{typeName,jdbcType=VARCHAR}
    </if>
    <if test="focus != null" >
      AND a.focus = #{focus,jdbcType=CHAR}
    </if>
    ORDER BY a.id DESC
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTypeThree" resultMap="BaseResultMap" parameterType="org.charley.model.News">
    <![CDATA[
      SELECT A1.*,T.`name` AS typeName
        FROM news AS A1
           INNER JOIN (SELECT A.type,A.id
                 FROM news AS A
                   LEFT JOIN news AS B
                    ON A.type = B.type
                      AND A.id <= B.id
                 GROUP BY A.type,A.id
                 HAVING COUNT(B.id) <= 3
          ) AS B1
          ON A1.type = B1.type
            AND A1.id = B1.id
        LEFT JOIN type T ON A1.type = T.id
        ORDER BY A1.type desc,A1.create_time DESC
    ]]>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.charley.model.News" >
    insert into news (id, type, title, 
      author, keywords, publish_user, 
      publish_time, create_user, create_time, 
      update_user, update_time, content,focus
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{publishUser,jdbcType=VARCHAR}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR},
      #{focus,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.charley.model.News" >
    insert into news
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="publishUser != null" >
        publish_user,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="focus != null" >
        focus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="publishUser != null" >
        #{publishUser,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="focus != null" >
        #{focus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.charley.model.News" >
    update news
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="publishUser != null" >
        publish_user = #{publishUser,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="focus != null" >
        focus = #{content,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.charley.model.News" >
    update news
    set type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      publish_user = #{publishUser,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR},
      focus = #{focus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.charley.model.News" >
    update news
    set type = #{type,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      publish_user = #{publishUser,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      focus = #{focus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>